
*.txt
*.csv
*.pdf
sales/images/G3210_brands_piechart.png
sales/images/G3210_customers_piechart.png
sales/images/G3210_partnumbers_piechart.png
sales/images/G3210_regions_piechart.png
sales/images/G3504_brands_piechart.png
sales/images/G3504_customers_piechart.png
sales/images/G3504_partnumbers_piechart.png
sales/images/G3504_regions_piechart.png
sales/images/G3506_brands_piechart.png
sales/images/G3506_customers_piechart.png
sales/images/G3506_partnumbers_piechart.png
sales/images/G3506_regions_piechart.png
sphere_fit/tracker/-20-deg.stl
sphere_fit/tracker/-20-left.asc
sphere_fit/tracker/-20-right.asc
sphere_fit/tracker/0-deg.stl
sphere_fit/tracker/0-left.asc
sphere_fit/tracker/0-right.asc
sphere_fit/tracker/20-deg.stl
sphere_fit/tracker/20-left.asc
sphere_fit/tracker/20-right.asc
sales/__pycache__/plot.cpython-37.pyc
mining/~$manual_meas.xlsx
mining/~$G3506_ballarray.xlsx
mining/manual_meas.xlsx
mining/G3506_ballarray.xlsx
mining/G3210_ballarray.xlsx
